
body {
  background-color:black;
  font-family: "Fira Sans", sans-serif;
  color:white;
}

h1 {
  font-size:30;
}

.container {
    height: 100vh;  /* full-screen, change as per requirement */
    display: flex;
    justify-content: center;  /* center horizontally */
    align-items: center;  /* center vertically */
    position: relative;
}

.button {

  bottom: 30%;
  background:black;
  border: 2px solid white;
  color: white;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 20px;
  margin-top: 20px;
  transition: all 0.3s ease;
}
.button:hover {
  background: white;
  color: black;
}


#imgmain {
  animation: float 2s ease-in-out infinite;
}


/* =========== ANIMATIONS PAGE 1 ============ */

.elementToFadeInAndOut {
    -webkit-animation: fadeinout 5s linear forwards;
    animation: fadeinout 4s linear forwards;
}

@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

/* ------------------------------*/

.wrap {
  opacity: 0;
  animation: fadeIn 4s ease-in-out 4s forwards;
}

.elementToFadeInAndOut, .wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* floating animation */
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}


/* ------------------------------*/

.fade {
    opacity:0;
    transition: opacity 2s;
    visibility: hidden;
}
.fade.show {
    opacity:1;
    visibility: visible;
}

.boxcontainer {
     scroll-margin-top: 100px; /* To account for fixed nav */
     display: flex;
     flex-flow: column nowrap;
     align-items: center;
 }

 .box {
   opacity: 0;
   transition: opacity 4s;
   margin: 0px auto;
 }

 .boxcontainer_funds {
      scroll-margin-top: 100px; /* To account for fixed nav */
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
  }

 .box_funds {
   opacity: 0;
   transition: opacity 4s;
   margin: 100px auto;
   animation: float 1s ease-in-out infinite;
 }

 #img1 { /* the middle item */
  transform: translateY(-230px);
}


 /* =========== PAGE 2 ============ */

 .wrap2 {
   opacity: 0;
   animation: fadeIn 1s ease-in-out forwards;
 }

 .boxfund {
   height:auto;
   width:300;
   border-radius: 15px;
   background-color: black;
   border: 5px solid white;
   padding:10px;
   opacity: 0;
   transition: opacity 4s;
   margin: 50px auto;
   padding:50px 20px 50px 20px;
 }

 .quiz{
   font-size: 24px;
 }

 .button.selected {
   background-color: white; /* change to the color when selected */
   color:black;
 }


 /* =========== AI PAGE ============ */

.typewriter h1 {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: green }
}


.boxai {
  height:400;
  width:500;
  border-radius: 15px;
  background-color: black;
  border: 5px solid white;
  padding:10px;
  opacity: 0;
  transition: opacity 4s;
  margin: 50px auto;
}
